#lobby.container{role: "main", "ng-controller" => "LobbyController"}
  .alert.alert-danger{role: "alert", "ng-if" => 'disconnectedBy'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    %span.sr-only Error:
    You've been disconnected by {{ disconnectedBy }}

  %form#proposal.form-inline{"ng-submit" => "submitProposal()"}
    %div Users:
    #users.form-group
      %span.label{"ng-repeat" => "user in users",
      "ng-class" => "selectedUsernames.indexOf(user.username) != -1 ? 'label-success' : 'label-default'"}
        %input{id: "user{{ $index }}", name: "user[]", type: "checkbox",
        "ng-if" => "user.username != myUsername",
        "ng-checked" => "selectedUsernames.indexOf(user.username) != -1",
        "ng-disabled" => "user.in_proposal || user.in_game",
        "ng-click" => "toggleUserSelect(user.username)"}
        %label{for: "user{{ $index }}"} {{ user.username }}
        %span{"ng-if" => "user.username == myUsername"} (You!)
    %div Roles:
    #roles.form-group
      - all_roles.each_key do |role|
        %span.label{"ng-class" => "selectedRoles.indexOf('#{role}') != -1 ? 'label-success' : 'label-default'"}
          %input{id: "role-#{role}", name: "role[]", type: "checkbox",
          "ng-checked" => "selectedRoles.indexOf('#{role}') != -1",
          "ng-click" => "toggleRoleSelect('#{role}')"}
          %label{for: "role-#{role}"}= role
    .form-group
      %input.btn.btn-primary{type: "submit", value: "Propose Game", "ng-disabled" => "!proposalValid()"}

  .alert.alert-danger{role: "alert", "ng-if" => 'proposalError'}
    %span.glyphicon.glyphicon-exclamation-sign{"aria-hidden" => "true"}
    %span.sr-only Error:
    The game could not be started because {{ proposalError }}

  #proposals{"ng-repeat" => "proposal in [currentProposal, lastProposal] track by $index"}
    %div{"ng-if" => "proposal"}
      [{{ formatTime(proposal.time) }}] {{ proposal.initiator }} suggests {{ proposal.original_players.join(', ') }} play a game
      using roles {{ proposal.roles.join(', ') }}.
      %div{"ng-repeat" => "(decliner, time) in proposal.declined_players"} [{{ formatTime(time) }}] {{ decliner }} declines.
      %div{"ng-repeat" => "(acceptor, time) in proposal.accepted_players"} [{{ formatTime(time) }}] {{ acceptor }} accepts.
      %div{"ng-if" => "$index == 0"}
        Would you like to play this game with {{ proposal.players.join(', ') }}?
        %button.btn.btn-primary{"ng-click" => "acceptProposal()", "ng-if" => "!userAcceptedProposal(proposal)"} Accept
        %button.btn.btn-primary{disabled: true, "ng-if" => "userAcceptedProposal(proposal)"} Accepted
        %button.btn.btn-danger{"ng-click" => "declineProposal()"} Decline

  %table.table.table-striped
    %thead
      %tr
        %th Game ID
        %th Started
        %th Players
        %th
    %tbody
      %tr{"ng-if" => "games.length == 0"}
        %td{colspan: 3} No games!
      %tr{"ng-repeat" => "game in games"}
        %td {{ game.id }}
        %td {{ formatTime(game.start_time) }}
        %td {{ game.usernames.join(', ') }}
        %td
          -# TODO: Watch game

  #chat
    %div{"ng-repeat" => "message in messages"}
      [{{ formatTime(message.time) }}] {{ message.user }}: {{ message.message }}

  %form#chatform.form-inline{"ng-submit" => "sendChat(msg)"}
    .form-group
      %input#msg.form-control{placeholder: "type message here", "ng-model" => "msg"}
    .form-group
      %button.btn.btn-default{type: "submit"} Send Message
